.row {
    margin: 8px -16px;
  }
  .main{
    font-size: 14px;
  }

  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    width: 25%;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
  }
  
  .content {
    padding: 10px;
  }
label {
    width: 60px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
     -ms-flex-align: center;
       align-items: center;
       gap: 14px;
       padding: 10px 15px 10px 10px;
       cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
    border-radius: 10px;
      color: black;
     }
.heart{
  display: flex;
  justify-content: flex-end;
}
input {
    display: none;
}      

input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    -webkit-animation:heartButton 1s; 
    animation: heartButton 1s;

}
@-webkit-keyframes heartButton {
    0% {
            -webkit-transform: scale(1);
            transform: scale(1);
    }

    25% {
         -webkit-transform: scale(1.3);
           transform: scale(1.3);
    }

    50% {
            -webkit-transform: scale(1);
            transform: scale(1);
    }

    75% {
            -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }

    100% {
            -webkit-transform: scale(1);
            transform: scale(1);
    }
}


@keyframes heartButton {
    0% {
            -webkit-transform: scale(1);
            transform: scale(1);
    }

    25% {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
    }

    50% {
            -webkit-transform: scale(1);
              transform: scale(1);
    }

    75% {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
    }

    100% {
            -webkit-transform: scale(1);
            transform: scale(1);
    }
}
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
  }